<% provide(:title, 'Program') %>
<h3>Important dates</h3>
<span style="font-weight:bold;">
<table border=0px style="width:100%; border-collapse: separate; border-spacing: 10px 25px;">
	<tr style="padding=10px;">
		<td><font color="dimGray">November 2014</font></td>
		<td><font color="dimGray">Pre-registration opens</font></td>
	</tr>
	<tr>
		<td>January 2015</td>
		<td>Registration and abstract submission for oral and poster presentations open</td>
	</tr>
	<tr>
		<td>April 2015</td>
		<td>Introduction of increased registration fee</td>
	</tr>
	<tr>
		<td>May 2015</td>
		<td>Notification of acceptance for oral and poster presentation</td>
	</tr>
	<tr>
		<td>June 2015</td>
		<td>The conference Isotopes2015</td>
	</tr>
</table>
</span>