<% provide(:title, 'Program') %>
<h3>Important dates</h3>
<span style="font-weight:bold;">
<table border=0px style="width:100%; border-collapse: separate; border-spacing: 10px 25px;">
	<tr style="padding=10px;">
		<td>November 2014</td>
		<td>Pre-registration opens</td>
	</tr>
	<tr>
		<td><font color="black">January 2015</font></td>
		<td><font color="black">Registration and abstract submission for oral and poster presentations open</font></td>
	</tr>
	<tr>
		<td>March 31st, 2015</td>
		<td>Abstract submission deadline</td>
	</tr>

	<tr>
		<td>April 2015</td>
		<td>Introduction of increased registration fee</td>
	</tr>
	<tr>
		<td>May 2015</td>
		<td>Notification of acceptance for oral and poster presentation</td>
	</tr>
	<tr>
		<td>June 2015</td>
		<td>The conference Isotopes2015</td>
	</tr>
</table>

<div class="alert alert-danger">
	The deadline for abstract submission and early bird registration has been extended to April 15<sup>th</sup>.
</div>

</span>