<% provide(:title, 'Home') %>
<h3>Home - ISOTOPES 2015</h3>
<!--
<h4 align="center">
סדנת ​מחקר של הקרן הלאומית למדע
 <br>
RESEARCH WORKSHOP OF THE ISRAEL SCIENCE FOUNDATION
</h4>
 -->
<p><strong>June 21-26, 2015<br />
Jerusalem, Israel</strong></p>

<p>We are delighted to invite you to join us for the bi-annual ISOTOPES conference to be held from the 21st to the 26th of June 2015 in Jerusalem, Israel. The ISOTOPES conference is a multi-disciplinary scientific event bringing together the best scientists from around the world, who have at least one common interest: Isotopes!<br />
The conference aims to cover a wide range of topics, including organic chemistry, biochemistry, computational chemistry, geochemistry, biogeochemistry, contaminant hydrology, environmental sciences, ecology, analytical chemistry, medical and food sciences. Together with you, we would like to engage in a lively, top-notch discourse on isotopes.
</p>

<p>The history of the ISOTOPES conferences started in the south of France at Carry-le-Rouet in 1999. Since then ISOTOPES traveled over Europe through Poland (Zakopane, 2001; Sopot 2013), Sweden (Uppsala, 2003), the United Kingdom (Bath, 2005), Spain (Benicàssim, 2007), Romania (Cluj-Napoca, 2009), France (Château Laval, 2011) and for the first time is arriving in Israel.</p>

<p>The conference will be held at the beautiful Crowne Plaza hotel in the center of Jerusalem. Jerusalem is a mosaic of cultures and nationalities, of peoples and neighborhoods, of old and new. It is a union of contrasts with a unique character.</p>

<p>We hope that in addition to the scientific adventure on isotopes, you will also be able to discover the beautiful and inspiring New and Old City of Jerusalem.</p>

<p>Looking forward to seeing you in Jerusalem!</p>

<p>Faina Gelman   &#8226   Ludwik Halicz   &#8226  Dan Thomas Major
</p>
