<% provide(:title, 'Organizing Committee') %>
<h3>Organizers Committee</h3>

<p><font color="#006699">Organizing committee:</font><br />
	Alon Amrani (Hebrew University, Israel)<br />
	Anat Bernstein (Zuckerberg Institute for Water Research, Ben-Gurion University, Israel)<br />
	Faina Gelman (Geological Survey of Israel)<br />
	Ludwik Halicz (Geological Survey of Israel)<br />
	Dan Thomas Major (Bar-Ilan University, Israel)<br />
</p>

<p><font color="#006699">Scientific committee:</font><br />
	Agnieszka Dybała-Defratyka (Lodz University of Technology, Poland)<br />
	Anton Eisenhauer (Helmholtz Centre Kiel (GEOMAR), Germany)<br />
	Martin Elsner (Helmholtz Center Munich, Germany)<br />
	Thomas Hofstetter (Eawag/ETH, Switzerland)<br />
	Amnon Kohen (University of Iowa, USA)<br />
	Mira Bar-Matthews (Geological Survey of Israel)<br />
	Daniel Quinn (University of Iowa, US)<br />
	Ian Williams (University of Bath, UK)<br />
</p>

<p><font color="#006699">Production Company:</font><br />
	Easy Go LTD – Signal Tours is selected to organize the conference for all the 
	administrative aspects.<br />
	You can contact at any time.
</p>