<% provide(:title, 'Organizing Committee') %>
<h3>Organizing Committee</h3>

<p><font color="#006699">Organizing committee:</font><br />
	Alon Amrani (Hebrew University, Israel)<br />
	Anat Bernstein (Zuckerberg Institute for Water Research, Ben-Gurion University, Israel)<br />
	Faina Gelman (Geological Survey of Israel)<br />
	Ludwik Halicz (Geological Survey of Israel)<br />
	Dan Thomas Major (Bar-Ilan University, Israel)<br />
</p>

<p><font color="#006699">Scientific committee:</font><br />
	Agnieszka Dybała-Defratyka (Lodz University of Technology, Poland)<br />
	Anton Eisenhauer (Helmholtz Centre Kiel (GEOMAR), Germany)<br />
	Martin Elsner (Helmholtz Center Munich, Germany)<br />
	Thomas Hofstetter (Eawag/ETH, Switzerland)<br />
	Amnon Kohen (University of Iowa, USA)<br />
	Mira Bar-Matthews (Geological Survey of Israel)<br />
	Daniel Quinn (University of Iowa, USA)<br />
	Ian Williams (University of Bath, UK)<br />
</p>

<p>
	<font color="#006699">Production Company:</font><br />
	Aviation-Links LTD has been selected to organize the conference and will handle all the administrative aspects.<br />
</p>

<p>
	You can contact us at any time.
	<table border=0>
		<col width="55%"></col>
		<tr>
			<td>Prof. Ludwik Halicz</td>
			<td><a href="mailto:ludwik@gsi.gov.il">ludwik@gsi.gov.il</a></td>
		</tr>
		<tr>
			<td>Prof. Dan T Major</td>
			<td><a href="mailto:majort@mail.biu.ac.il ">majort@mail.biu.ac.il </a></td>
		</tr>
		<tr>
			<td>Dr. Faina Gelman</td>
			<td><a href="mailto:faina@gsi.gov.il">faina@gsi.gov.il</a></td>
		</tr>
	</table>

</p>