<% provide(:title, 'Payment') %>
<h3>Payment</h3>

<p>The registration is not complete until full payment has been provided.</p>

<p>Title of payment: Isotopes 2015 conference<br />
	Account Name: Easy Go LTD.<br />
	Bank No': 31<br />
	Address: Israel, Ha'opera<br />
	Branch No':  044<br />
	IBAN: IL72031044000000569240<br />
	BIC (SWIFT-CODE): FIRBILIXXX<br />
</p>

<p dir="rtl">
	חשבון להעברה בנקאית  בשקלים<br />
	שם הכנס: כנס איזוטופ 2015<br />
	שם הבנק: הבינלאומי<br />
	שם הסניף: האופרה מספר סניף: 044<br />
	חשבון שקלי מס: 409-569240<br />
	* לתשלום בש"ח יש להוסיף מע"מ כחוק<br />
</p>