<% provide(:title, 'Payment') %>
<h3>Payment</h3>

<p style="font-weight:bold">The registration is not complete until full payment has been provided.

<%= form_tag("/registrations/", method: "get") do %>
  <%= label_tag :email, "Please fill in the email you provided in the registration form:" %>
  <%= number_field :email, class: 'details' %>
  <%= submit_tag("Search") %>
<% end %>
</p>

<p>Title of payment: Isotopes 2015 conference<br />
	Account Name: Aviation Links LTD<br />
	Bank Name: Bank Hapoalim B.M<br />
	<!-- Bank No': 12<br / -->
	Address: 23 Menahem Begin St, Tel Aviv, Israel<br />
	Branch No': 159<br />
	IBAN: IL08-0121-5900-0000-0186-889<br />
	BIC (SWIFT-CODE): POALILIT<br />
</p>

<p dir="rtl">
	<strong><u>חשבון להעברה בשקלים</u></strong><br />
	שם הכנס: כנס איזוטופ 2015<br />
	שם החשבון: קשרי תעופה בע״מ<br />
	שם הבנק: בנק הפועלים<br />
	כתובת הסניף: דרך מנחם בגין 23, תל אביב<br />
	מספר הסניף: 159<br />
	חשבון שקלי מס׳: 186889<br />

	* לתשלום בש״ח יש להוסיף מע״מ כחוק<br />
</p>