<% provide(:title, 'Program') %>
<h3>Program</h3>
<p>The ISOTOPES 2015 conference will encourage the discussions around the following topics:</p>
<ul>
	<li>Isotopes in biological sciences and medicine</li>
	<li>Theoretical approaches for calculation of isotope effects</li>
	<li>Isotope effects in organic and inorganic reactions</li>
	<li>Isotopes in environmental  sciences and hydrology</li>
	<li>Isotopes in earth, marine and geological sciences</li>
	<li>Stable isotope (traditional and non-traditional) analyses</li>
	<li>Medical use of stable isotopes</li>
</ul>

<font color="#006699">Invited Speakers:</font><br />
<ul>
	<li>Hagit Affek – Yale University</li>
	<li>Mark Altabet – University of Massachusetts</li>
	<li>Ariel Anbar – Arizona State University</li>
	<li>Martin Elsner – Helmholtz Zentrum Munchen</li>
	<li>James Farquhir – University of Maryland</li>
	<li>Giovanni Gadda – Georgia State University</li>
	<li>Yaron Ilan – Hadassa Medical Center, Hebrew University</li>
	<li>Amnon Kohen – University of Iowa</li>
	<li>Yehoshua Kolodny – Hebrew University</li>
	<li>Boaz Luz – Hebrew University</li>
	<li>Anil S. Modak – Cambridge Isotopes</li>
	<li>Piotr Paneth – Lodz University of Technology</li>
	<li>Thomas Prohaska – University of Natural Resources and Life Sciences, Vienne</li>
	<li>Justin P. Roth – Johns Hopkins University</li>
</ul>