<% provide(:title, 'Program') %>

<h3>Program</h3>
<p>The ISOTOPES 2015 conference will encourage discussions around the following topics:</p>
<ul>
	<li>Isotopes in biological sciences and medicine</li>
	<li>Theoretical approaches for calculation of isotope effects</li>
	<li>Isotope effects in organic and inorganic reactions</li>
	<li>Isotopes in environmental  sciences and hydrology</li>
	<li>Isotopes in earth, marine and geological sciences</li>
	<li>Stable isotope (traditional and non-traditional) analyses</li>
	<li>Medical use of stable isotopes</li>
</ul>

<font color="#006699">Invited Speakers:</font><br />
<ul>
	<li><span style="font-weight:bold;">Hagit Affek</span> – Yale University</li>
	<li><span style="font-weight:bold;">Mark Altabet</span> – University of Massachusetts</li>
	<li><span style="font-weight:bold;">Ariel Anbar</span> – Arizona State University</li>
	<li><span style="font-weight:bold;">Hans Eggenkamp</span> - Onderzoek &amp; Beleving, Bussum, The Netherlands.</li>
	<li><span style="font-weight:bold;">Martin Elsner</span> – Helmholtz Zentrum Munchen</li>
	<li><span style="font-weight:bold;">Jeroen Dickschat</span> – University of Bonn</li>
	<li><span style="font-weight:bold;">James Farquhar</span> – University of Maryland</li>
	<li><span style="font-weight:bold;">Yaron Ilan</span> – Hadassa Medical Center, Hebrew University</li>
	<li><span style="font-weight:bold;">Johannes Kaestner</span> – University of Stuttgart</li>
	<li><span style="font-weight:bold;">Amnon Kohen</span> – University of Iowa</li>
	<li><span style="font-weight:bold;">Yehoshua Kolodny</span> – Hebrew University</li>
	<li><span style="font-weight:bold;">Anil S. Modak</span> – Cambridge Isotopes</li>
	<li><span style="font-weight:bold;">Piotr Paneth</span> – Lodz University of Technology</li>
	<li><span style="font-weight:bold;">Thomas Prohaska</span> – University of Natural Resources and Life Sciences, Vienne</li>
	<li><span style="font-weight:bold;">Justine P. Roth</span> – Johns Hopkins University</li>
	<li><span style="font-weight:bold;">Peter Schreiner</span> – University of Giessen</li>
    <li><span style="font-weight:bold;">Steve Schwartz</span> – University of Arizona</li>
    <li><span style="font-weight:bold;">Orit Sivan</span> – Ben-Gurion University of the Negev</li>
	<li><span style="font-weight:bold;">Iñaki Tuñón</span> – Universitat de Valencia</li>
	<li><span style="font-weight:bold;">Dan Yakir</span> – Weizmann Institute of Science</li>
</ul>

<font color="#006699">Conference program:</font><br />

<style type="text/css">
@import url('https://themes.googleusercontent.com/fonts/css?kit=m0tazYRimFnV1hoGKbgtnw');
.lst-kix_list_1-7 > li {
    counter-increment: lst-ctn-kix_list_1-7
}

.lst-kix_list_1-3 > li:before {
    content: "" counter(lst-ctn-kix_list_1-3, decimal) ". "
}

.lst-kix_list_1-1 > li:before {
    content: "" counter(lst-ctn-kix_list_1-1, decimal) ". "
}

.lst-kix_list_1-1 > li {
    counter-increment: lst-ctn-kix_list_1-1
}

.lst-kix_list_1-0 > li {
    counter-increment: lst-ctn-kix_list_1-0
}

ol.lst-kix_list_1-2.start {
    counter-reset: lst-ctn-kix_list_1-2 0
}

.lst-kix_list_1-2 > li:before {
    content: "" counter(lst-ctn-kix_list_1-2, decimal) ". "
}

.lst-kix_list_1-5 > li:before {
    content: "" counter(lst-ctn-kix_list_1-5, decimal) ". "
}

ol.lst-kix_list_1-3.start {
    counter-reset: lst-ctn-kix_list_1-3 0
}

.lst-kix_list_1-8 > li {
    counter-increment: lst-ctn-kix_list_1-8
}

.lst-kix_list_1-3 > li {
    counter-increment: lst-ctn-kix_list_1-3
}

ol.lst-kix_list_1-7.start {
    counter-reset: lst-ctn-kix_list_1-7 0
}

.lst-kix_list_1-2 > li {
    counter-increment: lst-ctn-kix_list_1-2
}

.lst-kix_list_1-4 > li:before {
    content: "" counter(lst-ctn-kix_list_1-4, decimal) ". "
}

ol.lst-kix_list_1-5.start {
    counter-reset: lst-ctn-kix_list_1-5 0
}

ol.lst-kix_list_1-7 {
    list-style-type: none
}

ol.lst-kix_list_1-8 {
    list-style-type: none
}

ol.lst-kix_list_1-1.start {
    counter-reset: lst-ctn-kix_list_1-1 0
}

.lst-kix_list_1-6 > li:before {
    content: "" counter(lst-ctn-kix_list_1-6, decimal) ". "
}

.lst-kix_list_1-4 > li {
    counter-increment: lst-ctn-kix_list_1-4
}

ol.lst-kix_list_1-0.start {
    counter-reset: lst-ctn-kix_list_1-0 0
}

.lst-kix_list_1-5 > li {
    counter-increment: lst-ctn-kix_list_1-5
}

.lst-kix_list_1-7 > li:before {
    content: "" counter(lst-ctn-kix_list_1-7, decimal) ". "
}

.lst-kix_list_1-0 > li:before {
    content: "" counter(lst-ctn-kix_list_1-0, decimal) ". "
}

ol.lst-kix_list_1-8.start {
    counter-reset: lst-ctn-kix_list_1-8 0
}

.lst-kix_list_1-8 > li:before {
    content: "" counter(lst-ctn-kix_list_1-8, decimal) ". "
}

ol.lst-kix_list_1-2 {
    list-style-type: none
}

ol.lst-kix_list_1-4.start {
    counter-reset: lst-ctn-kix_list_1-4 0
}

.lst-kix_list_1-6 > li {
    counter-increment: lst-ctn-kix_list_1-6
}

ol.lst-kix_list_1-1 {
    list-style-type: none
}

ol.lst-kix_list_1-0 {
    list-style-type: none
}

ol.lst-kix_list_1-6.start {
    counter-reset: lst-ctn-kix_list_1-6 0
}

ol.lst-kix_list_1-6 {
    list-style-type: none
}

ol.lst-kix_list_1-5 {
    list-style-type: none
}

ol.lst-kix_list_1-4 {
    list-style-type: none
}

ol.lst-kix_list_1-3 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

.c6 {
    border-bottom-width: 1pt;
    border-top-style: solid;
    width: 314pt;
    background-color: #e6e6e6;
    border-right-style: solid;
    padding: 10px;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-bottom-style: solid;
    vertical-align: top;
    border-top-color: #000000;
    border-left-color: #000000;
    border-right-color: #000000;
    border-left-style: solid;
    border-right-width: 1pt;
    border-left-width: 1pt
}

.c9 {
    border-bottom-width: 1pt;
    border-top-style: solid;
    width: 425.8pt;
    background-color: #99ccff;
    border-right-style: solid;
	padding: 10px;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-bottom-style: solid;
    vertical-align: top;
    border-top-color: #000000;
    border-left-color: #000000;
    border-right-color: #000000;
    border-left-style: solid;
    border-right-width: 1pt;
    border-left-width: 1pt
}

.c3 {
    border-bottom-width: 1pt;
    border-top-style: solid;
    width: 314pt;
    background-color: #99ccff;
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-bottom-style: solid;
    vertical-align: top;
    border-top-color: #000000;
    border-left-color: #000000;
    border-right-color: #000000;
    border-left-style: solid;
    border-right-width: 1pt;
    border-left-width: 1pt
}

.c10 {
    border-bottom-width: 1pt;
    border-top-style: solid;
    width: 111.8pt;
    border-right-style: solid;
	padding: 10px;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-bottom-style: solid;
    vertical-align: top;
    border-top-color: #000000;
    border-left-color: #000000;
    border-right-color: #000000;
    border-left-style: solid;
    border-right-width: 1pt;
    border-left-width: 1pt
}

.c8 {
    border-bottom-width: 1pt;
    border-top-style: solid;
    width: 314pt;
    border-right-style: solid;
    padding: 10px;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-bottom-style: solid;
    vertical-align: top;
    border-top-color: #000000;
    border-left-color: #000000;
    border-right-color: #000000;
    border-left-style: solid;
    border-right-width: 1pt;
    border-left-width: 1pt
}

.c0 {
    line-height: 1.0;
    padding-top: 0pt;
    widows: 2;
    orphans: 2;
    text-align: left;
    direction: ltr;
    padding-bottom: 0pt
}

.c5 {
    vertical-align: baseline;
    color: #000000;
    font-size: 12pt;
    font-style: italic;
    font-family: "Cambria";
    text-decoration: none;
    font-weight: normal
}

.c4 {
    vertical-align: baseline;
    color: #000000;
    font-size: 12pt;
    font-style: normal;
    font-family: "Cambria";
    text-decoration: none;
    font-weight: normal
}

.c1 {
    vertical-align: baseline;
    color: #000000;
    font-size: 12pt;
    font-style: normal;
    font-family: "Cambria";
    text-decoration: none;
    font-weight: bold
}

.c18 {
    line-height: 1.15;
    padding-top: 0pt;
    height: 12pt;
    text-align: left;
    direction: ltr;
    padding-bottom: 0pt
}

.c23 {
    max-width: 415pt;
    background-color: #ffffff;
    padding: 72pt 90pt 72pt 90pt
}

.c14 {
    margin-right: auto;
    border-collapse: collapse;
    margin-left: -5.8pt
}

.c22 {
    widows: 2;
    orphans: 2;
    direction: ltr
}

.c15 {
    margin: 0;
    padding: 0
}

.c24 {
    color: #000000;
    font-family: "Arial"
}

.c12 {
    vertical-align: sub;
    font-style: italic
}

.c17 {
    padding-left: 0pt;
    margin-left: 0pt
}

.c2 {
    height: 0pt
}

.c19 {
    vertical-align: super
}

.c11 {
    background-color: #ccffff
}

.c20 {
    background-color: #f3f3f3
}

.c16 {
    font-style: italic
}

.c21 {
    height: 12pt
}

.c25 {
    font-family: "Arial"
}

.c13 {
    background-color: #e6e6e6
}

.c7 {
    font-weight: bold
}

table.title {
    widows: 2;
    padding-top: 24pt;
    line-height: 1.0;
    orphans: 2;
    text-align: left;
    color: #000000;
    font-size: 36pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 6pt;
    page-break-after: avoid
}

table.subtitle {
    widows: 2;
    padding-top: 18pt;
    line-height: 1.0;
    orphans: 2;
    text-align: left;
    color: #666666;
    font-style: italic;
    font-size: 24pt;
    font-family: "Georgia";
    padding-bottom: 4pt;
    page-break-after: avoid
}

table.li {
    color: #000000;
    font-size: 12pt;
    font-family: "Cambria"
}

table.p {
    color: #000000;
    font-size: 12pt;
    margin: 0;
    font-family: "Cambria"
}

table.h1 {
    widows: 2;
    padding-top: 24pt;
    line-height: 1.0;
    orphans: 2;
    text-align: left;
    color: #000000;
    font-size: 24pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 6pt;
    page-break-after: avoid
}

table.h2 {
    widows: 2;
    padding-top: 18pt;
    line-height: 1.0;
    orphans: 2;
    text-align: left;
    color: #000000;
    font-size: 18pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 4pt;
    page-break-after: avoid
}

table.h3 {
    widows: 2;
    padding-top: 14pt;
    line-height: 1.0;
    orphans: 2;
    text-align: left;
    color: #000000;
    font-size: 14pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 4pt;
    page-break-after: avoid
}

table.h4 {
    widows: 2;
    padding-top: 12pt;
    line-height: 1.0;
    orphans: 2;
    text-align: left;
    color: #000000;
    font-size: 12pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 2pt;
    page-break-after: avoid
}

table.h5 {
    widows: 2;
    padding-top: 11pt;
    line-height: 1.0;
    orphans: 2;
    text-align: left;
    color: #000000;
    font-size: 11pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 2pt;
    page-break-after: avoid
}

table.h6 {
    widows: 2;
    padding-top: 10pt;
    line-height: 1.0;
    orphans: 2;
    text-align: left;
    color: #000000;
    font-size: 10pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 2pt;
    page-break-after: avoid
}
</style>
<div class="table">
<p class="c22"><span class="c7">Isotopes 2015 &ndash; Isotope effects across disciplines</span></p><p class="c22 c21"><span></span></p><a href="#" name="1417a3935d2da503a638e2f4837bbcb7345f074e"></a><a href="#" name="0"></a><table cellpadding="0" cellspacing="0" class="c14"><tbody><tr class="c2"><td class="c9" colspan="2" rowspan="1"><p class="c0"><span class="c1">Sunday, June 21&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">16:00-18:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span class="c4">Arrivals and registration</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">18:30-20:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span class="c4">Welcome mixer</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">20:00-20:15</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span class="c4">Opening words</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">20:15-21:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span class="c7">Opening lecture:</span><span>&nbsp;</span><span class="c7">Yehoshua Kolodny</span><span class="c4">&nbsp;&ndash; Hebrew University</span></p></td></tr><tr class="c2"><td class="c9" colspan="2" rowspan="1"><p class="c0"><span class="c1">Monday, June 22</span></p></td></tr><tr class="c2"><td class="c10 c13" colspan="1" rowspan="1"><p class="c0"><span class="c1">09:00-11:00</span></p><p class="c0 c21"><span class="c1"></span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c0"><span class="c1">Morning session: Medical use of stable isotopes </span></p><p class="c0"><span class="c1">(Chair: Anil Modak &ndash; Cambridge Isotopes) </span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">09:00-09:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Yaron Ilan</span><span class="c4">&nbsp;&ndash; Hadassah Medical Center</span></p><p class="c0"><span class="c16">Measurement of the </span><span class="c16 c19">13</span><span class="c16">CO</span><span class="c12">2</span><span class="c16">/</span><span class="c19 c16">12</span><span class="c16">CO</span><span class="c12">2</span><span class="c16">&nbsp;ratio in exhaled air following oral administration of </span><span class="c19 c16">13</span><span class="c5">C-Methacetin using the non-invasive BreathID&reg;: A novel method for assessment of liver function of patients with acute and chronic liver disorders</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">09:30-10:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Anil S. Modak</span><span class="c4">&nbsp;&ndash; Cambridge Isotopes</span></p><p class="c0"><span class="c5">Companion Diagnostics (CDx) for personalizing medication</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">10:00-10:20</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Martin Klieber</span><span class="c4">&nbsp;&ndash; Cambridge Isotopes</span></p><p class="c0"><span class="c5">Cytochrome P450 2C19 phenoconversion by routinely prescribed proton pump inhibitors omeprazole and esomeprazole: clinical implications for personalized medicine</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">10:20-10:40</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Yliya Rabotjagova</span><span class="c4">&nbsp;&ndash; Crimean State Medical University</span></p><p class="c0"><span class="c16">Evaluation of changes to CYP2C19 enzyme activity (phenotype) with the Pantoprazole-</span><span class="c19 c16">13</span><span class="c5">C breath test after initiating PPI therapy in GERD patients</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">10:40-11:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Illa Tea</span><span class="c4">&nbsp;&ndash; University of Nantes (CEISAM-CNRS)/Australian National University </span></p><p class="c0"><span class="c5">Isotopomics in breast cancer</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">11:00-11:30</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Coffee break</span></p></td></tr><tr class="c2"><td class="c10 c13" colspan="1" rowspan="1"><p class="c0"><span class="c1">11:30-13:30</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c0"><span class="c1">Late morning session: Isotopes in environmental sciences (Chair: Tomasz Kuder &ndash; University of Oklahoma)</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">11:30-12:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Martin Elsner</span><span class="c4">&nbsp;&ndash; Helmholtz Zentrum M&uuml;nchen</span></p><p class="c0"><span class="c5">Current Challenges in Isotope Studies of Environmental Contaminants: Multielement Isotope Analysis and Investigations of Micropollutants</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">12:00-12:20</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Maxime Julien</span><span class="c4">&ndash; University of Nantes</span></p><p class="c0"><span class="c16">Modelling of position-specific isotope effects measured by isotopic quantitative </span><span class="c19 c16">13</span><span class="c5">C NMR occurring during volatilization of environmental pollutants</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">12:20-12:40</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span class="c7">&nbsp;</span><span>Contributed lecture: </span><span class="c7">Martin Mihaljevic</span><span class="c4">&ndash; Charles University in Prague</span></p><p class="c0"><span class="c5">Tracing Cu and Pb dynamics in semi-arid soils near mine tailings (Kombat, Namibia) using stable isotopes</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">12:40-13:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Xi Wei</span><span class="c4">&nbsp;&ndash; Helmholtz Center for Environmental Research</span></p><p class="c0"><span class="c5">Characterization of phenols biodegradation by compound specific stable isotope analysis</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">13:00-13:15</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Noa Balaban</span><span class="c4">&ndash; Ben-Gurion University</span></p><p class="c0"><span class="c5">Isotopic fractionation during biodegradation of brominated aliphatic flame retardants</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">13:15-13:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Miao Yu</span><span class="c4">&nbsp;&ndash; State Key Laboratory of Environmental Chemistry and Ecotoxicology</span></p><p class="c0"><span class="c16">Organic Stable Isotope Analysis with GC-qMS for PBDEs in a molecular view</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">13:30-15:00</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Lunch</span></p></td></tr><tr class="c2"><td class="c10 c13" colspan="1" rowspan="1"><p class="c0"><span class="c1">15:30-17:30</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c0"><span class="c1">Afternoon session: Isotopes in biological sciences I (Chair: Miryam Bar-Matthews &ndash; Geological Survey of Israel)</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">15:30-16:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Ariel Anbar</span><span class="c4">&nbsp;&ndash; Arizona State University</span></p><p class="c0"><span class="c16">Developing a clinically useful calcium isotope biomarker</span><span>&nbsp;</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">16:00-16:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Justine P. Roth</span><span class="c4">&nbsp;&ndash; Johns Hopkins University</span></p><p class="c0"><span class="c5">Mechanistic Studies of Dioxygenase Activity in Cyclooxygenase-2</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">16:30-16:50</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Anton Eisenhauer</span><span class="c4">&nbsp;&ndash; Helmholtz Centre of Ocean Research Kiel</span></p><p class="c0"><span class="c5">Testing Ca Isotope Fractionation in mini-pigs as an animal model for trace element cycling in humans</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">16:50-17:10</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Johanna Irrgeher</span><span class="c4">&ndash; University of Nat. Res. Appl. Life Sci. Vienne</span></p><p class="c0"><span class="c5">Sr isotopes as tracers in archeological sciences</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">17:10-17:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Caroline Ek</span><span class="c4">&ndash; Stockholm University</span></p><p class="c0"><span class="c5">Stable isotope incorporation in Daphnia in response to toxic exposure &ndash; potential implications for estimating Trophic Magnification Factors</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">18:30-19:30</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Dinner</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">20:00-22:00</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Mix time</span></p></td></tr><tr class="c2"><td class="c9" colspan="2" rowspan="1"><p class="c0"><span class="c1">Tuesday, June 23</span></p></td></tr><tr class="c2"><td class="c10 c13" colspan="1" rowspan="1"><p class="c0"><span class="c1">09:00-11:00</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c0"><span class="c1">Morning session: Isotopes in biological sciences II (Chair: Agnieszka Dybala-Defratyka, Lodz University of Technology)</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">09:00-09:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Amnon Kohen</span><span class="c4">&nbsp;&ndash; University of Iowa</span></p><p class="c0"><span class="c5">Interpretation of Temperature Dependence of Kinetic Isotope effects</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">09:30-10:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Jeroen Dickschat</span><span class="c4">&nbsp;&ndash; University of Bonn</span></p><p class="c0"><span class="c5">Terpenes from Microorganisms</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">10:00-10:20</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Katarzyna Romek</span><span class="c4">&nbsp;&ndash; Lodz University of Technology</span></p><p class="c0"><span class="c5">Position-specific isotope analysis - a retro-biosynthetic approach to predicting biosynthetic pathways?</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">10:20-10:40</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Dominika Lewicka-Szczebak</span><span class="c4">&nbsp;&ndash; Th&uuml;nen</span></p><p class="c0"><span class="c16">The Mechanism of Oxygen Isotopic Fractionation During N</span><span class="c12">2</span><span class="c5">O Production by Denitrification</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">10:40-11:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed talk: </span><span class="c7">Lynn Kamerlin</span><span class="c4">&nbsp;&ndash; Uppsala University</span></p><p class="c0"><span class="c5">Phosphoryl and Sulfuryl Transfer Reactions: Challenges in</span></p><p class="c0"><span class="c16">Interpreting Experimental and Theoretical Data</span><span>&nbsp;</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">11:00-11:30</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Coffee break</span></p></td></tr><tr class="c2"><td class="c10 c13" colspan="1" rowspan="1"><p class="c0"><span class="c1">11:30-13:30</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c0"><span class="c1">Late morning session: Theoretical approaches for calculations of isotope effects I (Chair: Lynn Kamerlin &ndash; Uppsala University)</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">11:30-12:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">I&ntilde;aki Tu&ntilde;&oacute;n</span><span class="c4">&nbsp;&ndash; Universitat de Valencia</span></p><p class="c0"><span class="c5">Adiabatic and Nonadiabatic Hydride Transfer in Formate Dehydrogenase</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">12:00-12:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Johannes Kaestner</span><span class="c4">&nbsp;&ndash; University of Stuttgart</span></p><p class="c0"><span class="c5">Atom Tunneling: from Astrochemistry to Enzymes</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">12:30-12:50</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Ian Williams</span><span class="c4">&nbsp;&ndash; University of Bath</span></p><p class="c0"><span class="c5">Isotope Effect Calculations for Methyl Transfer</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">12:50-13:10</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Sebastian Kozuch</span><span class="c4">&nbsp;&ndash; Ben-Gurion University</span></p><p class="c0"><span class="c5">Heavy Atom Tunneling: Stability, Selectivity, and some Isotopes</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">13:10-13:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Agnieszka Dybala-Defratyka </span><span>-</span><span class="c24">&nbsp;</span><span class="c4">Lodz University of Technology</span></p><p class="c0"><span class="c16">Kinetic Isotope Effects Accompanying Degradation of Hexachlorocyclohexanes by the LinA and LinB Dehalogenases. A Computational Study</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">13:30-15:00</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Lunch</span></p></td></tr><tr class="c2"><td class="c10 c20" colspan="1" rowspan="1"><p class="c0"><span class="c1">15:00-19:00</span></p></td><td class="c8 c20" colspan="1" rowspan="1"><p class="c0"><span class="c1">Excursion &nbsp;- Jerusalem Old City</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">19:00-20:30</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Dinner&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p></td></tr><tr class="c2"><td class="c9" colspan="2" rowspan="1"><p class="c0"><span class="c1">Wednesday, June 24</span></p></td></tr><tr class="c2"><td class="c10 c13" colspan="1" rowspan="1"><p class="c0"><span class="c1">09:00-11:00</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c0"><span class="c1">Morning session: Isotope effects in chemical processes: organic and inorganic reactions (Chair: Zeev Aizenshtat &ndash; Hebrew University)</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">09:00-09:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Peter Schreiner</span><span class="c4">&nbsp;&ndash; University of Giessen</span></p><p class="c0"><span class="c5">Tunneling Control of Chemical Reactions</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">09:30-10:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Piotr Paneth</span><span class="c4">&nbsp;&ndash; Lodz University of Technology</span></p><p class="c0"><span class="c5">Isotopic fractionation - from basic science to applications</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">10:00-10:20</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Thomas Hofstetter</span><span class="c4">&ndash; EAWAG</span></p><p class="c0"><span class="c5">Isotope Fractionation Associated with the Direct Photolysis of Chloroanilines</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">10:20-10:40</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Mahmoud Alkhatib</span><span class="c4">&nbsp;&ndash; Helmholtz Centre for Ocean Research </span></p><p class="c0"><span class="c5">Calcium and Strontium Isotope measurement on artificially precipitated calcium carbonate</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">10:40-11:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Yevgeni Zakon</span><span class="c4">&ndash; Geological Survey of Israel</span></p><p class="c0"><span class="c5">Dual carbon-bromine isotope effect during photolysis of brominated phenols</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">11:00-11:30</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Coffee break</span></p></td></tr><tr class="c2"><td class="c10 c13" colspan="1" rowspan="1"><p class="c0"><span class="c1">11:30-13:30</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c0"><span class="c1">Late morning session: Isotopes in Earth and planetary sciences (Chair: Alon Amrani &ndash; Hebrew University)</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">11:30-12:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">James Farquhar</span><span class="c4">&nbsp;&ndash; University of Maryland</span></p><p class="c0"><span class="c5">How did the isotopic composition of oceanic sulfate evolve in the late Archean?</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">12:00-12:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Hagit Affek</span><span class="c4">&nbsp;&ndash; Yale University</span></p><p class="c0"><span class="c5">Carbonate clumped isotope geothermometry: principles, applications, and challenges</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">12:30-12:50</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Miryam Bar-Matthews</span><span class="c4">&nbsp;&ndash; Geological Survey of Israel</span></p><p class="c0"><span class="c5">Stable Isotope frontiers in paleo-hydrological studies using speleothems</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">12:50-13:10</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Lubna Shawar</span><span class="c4">&ndash; Hebrew University</span></p><p class="c0"><span class="c5">Compound specific sulfur isotope approach to study the redox cycling during the deposition of Senonian oil shale in the Late Cretaceous Tethyan margin, Israel</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">13:10-13:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Monika Ci&#281;&#380;ka</span><span class="c4">&nbsp;&ndash; University of Wroclaw</span></p><p class="c0"><span class="c5">Assessing anthropressure in the &#346;wi&#281;tokrzyski National Park: An approach coupling stable isotope and Electron Paramagnetic Resonance (EPR) analyses of lichen (Hypogymnia physodes)</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">13:30-15:00</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Lunch</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">15:30-16:00</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span>Special Lecture in memory of Prof. J. Gatt </span><span class="c7">&ndash; Dan Yakir, </span><span class="c4">Weizmann Institute of Science</span></p><p class="c0"><span class="c16">Association between 18&Delta; and Carbonyl Sulfide Uptake and during CO</span><span class="c12">2</span><span class="c5">&nbsp;exchange between the atmosphere and land plants</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">16:00-18:00</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Poster session</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">18:30-22:00</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Gala Dinner (The Israel Museum)</span></p></td></tr><tr class="c2"><td class="c9" colspan="2" rowspan="1"><p class="c0"><span class="c1">Thursday, June 25</span></p></td></tr><tr class="c2"><td class="c10 c13" colspan="1" rowspan="1"><p class="c0"><span class="c1">08:45-11:00</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c0"><span class="c1">Morning session: Stable isotopes (traditional and non-traditional) analyses (Chair: Alexey Kamyshny &ndash; Ben-Gurion University)</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">08:45-09:15</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Thomas Prohaska</span><span class="c4">&nbsp;&ndash; University of Nat. Res. Appl. Life Sci. Vienne</span></p><p class="c0"><span class="c5">Spiking, marking and tracing &ndash; Isotopic tools as specific monitors and markers of elemental fluxes </span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">09:15-9:45</span></p></td><td class="c8" colspan="1" rowspan="1"><ol class="c15 lst-kix_list_1-0 start" start="1"><li class="c0 c17"><span>Keynote lecture: </span><span class="c7">Hans Eggenkamp</span><span class="c4">&nbsp;&ndash; Onderzoek &amp; Beleving</span></li><li class="c0 c17"><span class="c5">Comparing stable chlorine and bromine isotope analysis; Techniques and directions for future research</span></li></ol></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">9:45-10:05</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><a name="h.gjdgxs"></a><span>Contributed lecture: </span><span class="c7">Tomasz Kuder</span><span class="c4">&nbsp;&ndash; University of Oklahoma</span></p><p class="c0"><span class="c5">Studies of VOCs Contaminants: Overcoming Analytical Limitations of CSIA</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">10:05-10:25</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Pierrick Nun</span><span class="c4">&nbsp;&ndash; University of Nantes</span></p><p class="c0"><span class="c16">Applications of </span><span class="c19 c16">13</span><span class="c5">C isotopic quantitative NMR for position-specific measurements (PSIA): from biosynthetic pathway to environmental studies</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">10:25-10:45</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Alex Wolf</span><span class="c4">&nbsp;&ndash; Israel Atomic Energy Commission </span></p><p class="c0"><span class="c5">Analyses of stable isotopes-a multiple application opportunity</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">10:45-11:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Rob Peters</span><span class="c4">&nbsp;&ndash; Picarro, Inc.</span></p><p class="c0"><span class="c5">Cavity Ring-Down Spectroscopy as a tool for partitioning evaporation and transpiration using water isotopes</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">11:00-11:30</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Coffee break</span></p></td></tr><tr class="c2"><td class="c10 c13" colspan="1" rowspan="1"><p class="c0"><span class="c1">11:30-13:30</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c0"><span class="c1">Late morning session: &nbsp;Theoretical approaches for calculations of isotope effects II (Chair: Vicente Moliner &ndash; Universitat Jaime I)</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">11:30-12:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote Lecture: </span><span class="c7">Steve Schwartz</span><span class="c4">&nbsp;&ndash; University of Arizona</span></p><p class="c0"><span class="c5">Protein Dynamics, Heavy Enzymes, and Protein Design for Enzymatic Catalysis</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">12:00-12:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Mike Webb</span><span class="c4">&nbsp;&ndash; Caltech</span></p><p class="c0"><span class="c5">Path-integral methods for evaluating equilibrium isotope effects: applications to clumped and position-specific stable isotope studies</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">12:30-12:50</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Yuval Shagam</span><span class="c4">&nbsp;&ndash; Weizmann Institute of Science</span></p><p class="c0"><span class="c16">Observation of the isotope effect in sub-kelvin reactions</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">12:50-13:10</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Debasish Mandal</span><span class="c4">&nbsp;&ndash; Hebrew University</span></p><p class="c0"><span class="c5">Kinetic Isotope Effect is a Sensitive Probe of Spin State Reactivity in C-H activation of non-heme Fe(IV)O oxidants with Hydrocarbon</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">13:10-13:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Josef Yellin</span><span class="c4">&nbsp;&ndash; Hebrew University</span></p><p class="c0"><span class="c5">Isotope effects in atomic structure</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">13:30-15:00</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Lunch</span></p></td></tr><tr class="c2"><td class="c10 c13" colspan="1" rowspan="1"><p class="c0"><span class="c1">15:30-17:50</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c0"><span class="c1">Afternoon session: Isotopes in marine sciences and hydrology (Chair: Anton Eisenhauer &ndash; Helmholtz Centre for Ocean Research Kiel) </span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">15:30-16:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Mark Altabet</span><span class="c4">&nbsp;&ndash; University of Massachusetts</span></p><p class="c0"><span class="c5">Deciphering the Ocean&rsquo;s Nitrogen Cycle using Stable Isotope Ratios </span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">16:00-16:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Keynote lecture: </span><span class="c7">Orit Sivan</span><span class="c4">&nbsp;&ndash; Ben-Gurion University</span></p><p class="c0"><span class="c5">The use of multi-isotope measurements to study anaerobic methane oxidation (AOM) process in marine and freshwater sediments</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">16:30-16:50</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Alan Matthews</span><span class="c4">&nbsp;&ndash; Hebrew University</span></p><p class="c0"><span class="c1">Contrasting anoxic conditions in Eastern </span></p><p class="c0"><span class="c16">Mediterranean Sapropels S1 and S5 revealed by Fe and Mo isotopes and chemical element proxies</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">16:50-17:10</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Jegathambal P</span><span class="c4">&nbsp;&ndash; Karunya University</span></p><p class="c0"><span class="c5">Environmental Isotopes and Hydrogeochemical Parameters as Indicators of Groundwater Recharge in Semiarid Regions </span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">17:10-17:30</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Noa Fruchter</span><span class="c4">&nbsp;&ndash; Hebrew University</span></p><p class="c0"><span class="c16">Lake Kinneret as a natural laboratory to study the carbonate system using </span><span class="c19 c16">88</span><span class="c16">Sr/</span><span class="c19 c16">86</span><span class="c5">Sr fractionation in authigenic inorganic calcite</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">17:30-17:50</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span>Contributed lecture: </span><span class="c7">Alexey Kamyshny</span><span class="c4">&nbsp;&ndash; Ben-Gurion University</span></p><p class="c0"><span class="c16">Sulfur cycling in a freshwater lake with sub-millimolar sulfate concentrations: constraints from sulfur isotope composition of hydrogen sulfide, elemental sulfur, and sulfate</span></p></td></tr><tr class="c2"><td class="c10" colspan="1" rowspan="1"><p class="c0"><span class="c4">17:50-18:00</span></p></td><td class="c8" colspan="1" rowspan="1"><p class="c0"><span class="c7">Closing remarks</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">18:30-19:30</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Dinner</span></p></td></tr><tr class="c2"><td class="c10 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">20:00-22:00</span></p></td><td class="c8 c11" colspan="1" rowspan="1"><p class="c0"><span class="c1">Mix time</span></p></td></tr><tr class="c2"><td class="c9" colspan="2" rowspan="1"><p class="c0"><span class="c1">Friday, June 26</span></p></td></tr><tr class="c2"><td class="c10 c13" colspan="1" rowspan="1"><p class="c0"><span class="c1">09:00-11:00</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c0"><span class="c7">Excursion &ndash;</span><span class="c25">&nbsp;</span><span class="c1">The Museum of Islamic Art</span></p></td></tr></tbody></table><p class="c22 c21"><span></span></p>
</div>
