<% provide(:title, 'Program') %>
<h3>Program</h3>
<p>The ISOTOPES 2015 conference will encourage the discussion around the following topics:</p>
<ul>
	<li>Isotopes in biological sciences and medicine</li>
	<li>Theoretical approaches for calculations of isotope effects</li>
	<li>Isotope effects in organic and inorganic reactions</li>
	<li>Isotopes in environmental  sciences and hydrology</li>
	<li>Isotopes in earth, marine and geological sciences</li>
	<li>Stable isotope (traditional and non-traditional) analyses</li>
</ul>