<% provide(:title, 'Program') %>
<h3>Program</h3>
<p>The ISOTOPES 2015 conference will encourage the discussions around the following topics:</p>
<ul>
	<li>Isotopes in biological sciences and medicine</li>
	<li>Theoretical approaches for calculation of isotope effects</li>
	<li>Isotope effects in organic and inorganic reactions</li>
	<li>Isotopes in environmental  sciences and hydrology</li>
	<li>Isotopes in earth, marine and geological sciences</li>
	<li>Stable isotope (traditional and non-traditional) analyses</li>
	<li>Medical use of stable isotopes</li>
</ul>

<h4 style="padding-top:15px;">Invited Speakers</h4>
<ul>
	<li>Hagit Affek – Yale University</li>
	<li>Mark Altabet – University of Massachusetts</li>
	<li>Ariel Anbar – Arizona State University</li>
	<li>Martin Elsner – Helmholtz Zentrum Munchen</li>
	<li>James Farquare – University of Maryland</li>
	<li>Giovanni Gadda – Georgia State University</li>
	<li>Yaron Ilan – Hadassa Medical Center, Hebrew University</li>
	<li>Amnon Kohen – University of Iowa</li>
	<li>Yehoshua Kolodny – Hebrew University</li>
	<li>Boaz Luz – Hebrew University</li>
	<li>Anil S. Modak – Cambridge Isotopes</li>
	<li>Piotr Paneth – Lodz University of Technology</li>
	<li>Thomas Prohaska – University of Natural Resources and Life Sciences, Vienne</li>
	<li>Justin P. Roth – Johns Hopkins University</li>
</ul>

<h4 style="padding-top:15px;">Important dates</h4>
<table border=0px style="width:100%;">
	<tr style="padding=10px;">
		<td>October 2014</td>
		<td>Pre-registration opens</td>
	</tr>
	<tr>
		<td>January 2015</td>
		<td>Registration and abstract submission for oral and poster presentations open</td>
	</tr>
	<tr>
		<td>April 2015</td>
		<td>Introduction of increased registration fee</td>
	</tr>
	<tr>
		<td>May 2015</td>
		<td>Notification of acceptance for oral and poster / presentation</td>
	</tr>
	<tr>
		<td>June 2015</td>
		<td>The conference Isotopes2015</td>
	</tr>

</table>


<!-- ul>
	<li>October 2014 - Pre-registration opens</li>
	<li>January 2014 - Reigstrations and abstract submission for oral and poster presentations open</li>
	<li>April 2015 - Introduction of increased registration fee</li>
	<li>May 2015 - Notification of acceptance for oral and poster / presentation</li>
	<li>June 2015 - The conference Isotopes2015</li>
</ul -->