<% provide(:title, 'Program') %>
<h3>Program</h3>
<p>The ISOTOPES 2015 conference will encourage discussions around the following topics:</p>
<ul>
	<li>Isotopes in biological sciences and medicine</li>
	<li>Theoretical approaches for calculation of isotope effects</li>
	<li>Isotope effects in organic and inorganic reactions</li>
	<li>Isotopes in environmental  sciences and hydrology</li>
	<li>Isotopes in earth, marine and geological sciences</li>
	<li>Stable isotope (traditional and non-traditional) analyses</li>
	<li>Medical use of stable isotopes</li>
</ul>

<font color="#006699">Invited Speakers:</font><br />
<ul>
	<li><span style="font-weight:bold;">Hagit Affek</span> – Yale University</li>
	<li><span style="font-weight:bold;">Mark Altabet</span> – University of Massachusetts</li>
	<li><span style="font-weight:bold;">Ariel Anbar</span> – Arizona State University</li>
	<li><span style="font-weight:bold;">Martin Elsner</span> – Helmholtz Zentrum Munchen</li>
	<li><span style="font-weight:bold;">James Farquhir</span> – University of Maryland</li>
	<li><span style="font-weight:bold;">Giovanni Gadda</span> – Georgia State University</li>
	<li><span style="font-weight:bold;">Yaron Ilan</span> – Hadassa Medical Center, Hebrew University</li>
	<li><span style="font-weight:bold;">Amnon Kohen</span> – University of Iowa</li>
	<li><span style="font-weight:bold;">Yehoshua Kolodny</span> – Hebrew University</li>
	<li><span style="font-weight:bold;">Boaz Luz</span> – Hebrew University</li>
	<li><span style="font-weight:bold;">Anil S. Modak</span> – Cambridge Isotopes</li>
	<li><span style="font-weight:bold;">Piotr Paneth</span> – Lodz University of Technology</li>
	<li><span style="font-weight:bold;">Thomas Prohaska</span> – University of Natural Resources and Life Sciences, Vienne</li>
	<li><span style="font-weight:bold;">Justin P. Roth</span> – Johns Hopkins University</li>
</ul>