<% provide(:title, 'Social Program') %>
<h3>Social Program</h3>
<h4>
	<span style="font-weight:bold;">
		Jerusalem Tours - of the Ancient and Modern
	</span>
</h4>
<p>
	The history of the ancient city of Jerusalem dates back to the 4th millennium BCE, making it one of the oldest cities on earth. Jerusalem has a unique history and is considered holy in three world-religions; Christianity, Islam and Judaism. Jerusalem has been destroyed at least twice, besieged 23 times, attacked 52 times, and captured and recaptured 44 times. It's a history that spans thousands of years, including in the time of King David, who established Jerusalem as the capital of Israel about 3,000 years ago, up until our times when Jerusalem is the capital of the modern state of Israel. Our large variety of tours in Jerusalem allows you to experience many different aspects of this unique city with a focus on the Jerusalem highlights.<br />
	During the conference, you can take pleasure in exploring this charming city by visiting web sites that will help you to enjoy Jerusalem:
	<ul>
		<li><%= link_to("http://www.itraveljerusalem.com/", "http://www.itraveljerusalem.com/", :target => "_blank") %></li>
		<li><%= link_to("https://www.jerusalem.muni.il/en/Jerusalem/CapitalofIsrael/Pages/Default.aspx", "https://www.jerusalem.muni.il/en/Jerusalem/CapitalofIsrael/Pages/Default.aspx", :target => "_blank") %></li>
		<li><%= link_to("http://www.gojerusalem.com/Events", "http://www.gojerusalem.com/Events", :target => "_blank") %></li>
	</ul>
</p>

<p>
	<span style="font-weight:bold;">
		Additionally, you can participate in organized trips and tours, a list of which you can find below:
		<span style="font-size:0.85em;color:Brown">The tours will take place with a minimum of 15 participants</span>
	</span>
	
	<ol>
		<li><span style="font-weight:bold;">
			Jerusalem & Bethlehem tour<br /></span>
			we offer you the option of combining your Bethlehem tour with Jerusalem old city.
			The city of Bethlehem Israel, located close to Jerusalem, in the southern parts of the Judean Mountains, has great historical and religious value to Judaism and Christianity as the birthplace of King David and Jesus. including the Church of the Nativity.  Break for lunch in Bethlehem.
			Return to Jerusalem. Begin with a panoramic overview of Jerusalem and then visit Jewish and Christian holy sites in Jerusalem Old City.
			<ul>
				<li>Duration: full day (8-9 hours)</li>
				<li>Prices:
					<ul>
						<li>Adult: 65 USD$</li>
						<li>Children (3-13): 45 USD$</li>
						<li>Infant (0-3): 15 USD$</li>
					</ul>
				</li>
				<li>Dates: Monday, June 22nd, 2014 and Friday, June 26th, 2015</li>
				<li><span style="font-weight:bold;">Remarks:</span> Please bring a comfortable walking shoes, a hat, and sunscreen.</li>
			</ul>
		</li>
		<li style="padding-top:25px;"><span style="font-weight:bold;">Dead Sea & Masada Tour</span><br />
			The tour of Masada takes you to the great drama of the historical stories in the region. Come explore Masada and enjoy the breath-taking view from the mountain top.
			Then followed enjoy by relaxation at the therapeutic swim in Dead Sea.
			<ul>
				<li>Duration: full day (10 hours)</li>
				<li>Prices:
					<ul>
						<li>Adult: 105 USD$</li>
						<li>Children (3-13): 65 USD$</li>
						<li>Infant (0-3): 20 USD$</li>
					</ul>
				</li>
				<li>Dates:
					<ul>
						<li>Tuesday, June 23rd, 2015</li>
						<li>Friday, June 26th, 2015</li>
						<li>Saturday, June 27th, 2015</li>
					</ul>
				</li>
				<li><span style="font-weight:bold;">Remarks:</span> Please bring a comfortable walking shoes, a hat, sunscreen, Swimsuit and towel.</li>
			</ul>
		</li>
		<li style="padding-top:25px;"><span style="font-weight:bold;">Nazareth & Sea of Galilee Tour</span><br />
		Our journey begins with a ride along Israeli’s scenic coastal road, overlooking the stunning Mediterranean Sea and then over the Plain of Armageddon to holy Nazareth.
		The first stop in Nazareth is at the Church of the Annunciation. According to Catholic tradition, the annunciation was held at this spot. The tour then visits the Church of St. Joseph’s Carpentry, believed to be the sight of Joseph’s carpentry workshop.<br />
		From Nazareth we proceed via Kafer Cana for a view of the Mount of Beatitudes, where, according to tradition, Jesus delivered the Sermon on the Mount. Then, at nearby historical Tabaha, located on the northern shore of the Sea of Galilee, we visit the Church of the Multiplication of the Loaves and Fish.<br />
		Onwards, we visit the ruins of the ancient synagogue of Capernaum and the city of Christ. Overlooking Tiberias, we proceed to the site of baptismal on the Jordan River – the Yardenit, where there is an optional baptismal service.<br />
		We end our day, returning back to central Israel via a scenic view of Mt. Tabor, site of the Transfiguration.<br />
		<ul>
			<li>Duration: full day (10 hours)</li>
			<li>Prices:
				<ul>
					<li>Adult: 100 USD$</li>
					<li>Children (3-13): 70 USD$</li>
					<li>Infant (0-3): 25 USD$</li>
				</ul>
			</li>
			<li>Dates:
				<ul>
					<li>Wednesday, June 24th, 2015</li>
					<li>Friday, June 26th, 2015</li>
					<li>Saturday, June 27th, 2015</li>
				</ul>
			</li>
			<li><span style="font-weight:bold;">Remarks:</span> Please bring a comfortable walking shoes, a hat, sunscreen, Swimsuit and towel.</li>
			</ul>
		</li>
		<li style="padding-top:25px;"><span style="font-weight:bold;">Caesarea, Acre & Rosh HaNikra Tour</span><br />
		This day tour takes you to Interesting Sites: Caesarea, Haifa, Rosh Hanikra and Acre (Acoo).<br />
		We begin the day in Caesarea, site of the ancient Roman regional capital and port. Caesarea was one of the most ambitious port-building enterprises of the Roman world.
		We continue to Haifa is offers memorable panoramic views in Israel.   a view for a beautiful panoramic of the Bahai Gardens and the Port.<br />
		We then proceed on our journey towards Rosh Hanikra, where we take the cable car to visit the beautiful limestone grottos on the water front. We will also view Israel’s border with Lebanon, situated right on top of Rosh Hanikra.<br />
		Making our way back south, we will stop in the enchanting port city of Acre or Acco, to visit the Crusader underground city and the crypt. We will walk through the old city market. The market ends at the scenic harbor, where you can watch to Mediterranean from the remains of the old city walls<br />
		<ul>
			<li>Duration: full day (10 hours)</li>
			<li>Prices:
				<ul>
					<li>Adult: 100 USD$</li>
					<li>Children (3-13): 70 USD$</li>
					<li>Infant (0-3): 25 USD$</li>
				</ul>
			</li>
			<li>Dates:
				<ul>
					<li>Thursday, June 25th, 2015</li>
					<li>Friday, June 26th, 2015</li>
					<li>Saturday, June 27th, 2015</li>
				</ul>
			</li>
			<li><span style="font-weight:bold;">Remarks:</span> Please bring a comfortable walking shoes, a hat and sunscreen.</li>
		</ul>

		</li>
	</ol>

</p>