<h3>Conference Venue</h3>
<strong>Crowne Plaza Hotel 5* - Jerusalem</strong><br />
<br />
<p>Location: Crowne Plaza Jerusalem is located in the center of town, towering over the Givat Ram area. It is located near the "Knesset"- the Israeli parliament and Government complex buildings and near the Hebrew University.
</p>

<p>It is also close to the Court of Justice, with its impressive architectural structure. The hotel is 30 minutes from TLV airport (Ben-Gurion International Airport) and 45 minutes from Tel Aviv – the non-stop city. It is also 30 minutes from the Dead Sea and the Jorden river.</p>

<p>From the Crowne Plaza in Jerusalem it is less than a 10-minute walk to the Machane Yehuda outdoor marketplace, where boisterous traders will tease you with mountains of olives and blocks of halvah or offer you cardamom-spiced coffee. Stroll another 30 minutes to reach Damascus Gate, where 3,000 years of history is crammed inside the Old City walls.</p>

<p>Inside the hotel, the Fitness Center's sauna and treatment rooms invite you to indulge in some me-time. Challenge friends to tennis at complimentary courts or plunge into the indoor pool covered with a retractable roof. Younger guests will find a children's playground and children's Club.</p>

<%= link_to("Link to hotel website", "http://www.crowneplaza.com/hotels/gb/en/jerusalem/jrscp/hoteldetail?qAdlt", :target => "_blank") %>