<h3>Here I am!</h3>
<%= form_tag edit_registration_path, :id => :q do %>
  <%= label_tag(:q, "Edit details for:") %>
  <%= text_field_tag(:q, params[:q], placeholder: "rec num") %>
  <%= submit_tag("Edit") %>
<% end %>