<% provide(:title, 'Registration Form') %>
<h3>Registration Form</h3>
<p style="margin-top:15px;">
	Welcome to the Isotopes 2015 conference online registration site.
	Please fill out the registration form below. <br />
	<div style="font-size: 0.95em">
		Please note that registration will be considered complete only upon payment (either online by credit card, or by bank transfer to Aviation-Links Ltd.). Online payment will be available shortly. <!--, and email will be used to verify a completed registration. -->
	</div>
</p>
<h4>Registration fees</h4>

<p>
	<div>
		<span style="font-weight:bold"><font color="#006699">1. Full fee and accommodation</font></span>

		<table border="1" style="width:100%;">
			<col width="60%">
			<tr>
				<th>Type</th>
				<!-- th style="text-align:center;">USD $</th -->
				<th style="text-align:center;">€ (Euro)</th>
				<th style="text-align:center;">Comment</th>
			</tr>
			<tr>
				<td>Single room</td>
				<!-- td style="text-align:center;">1,795</td -->
				<td style="text-align:center;">1,395</td>
				<td></td>
			</tr>
			<tr>
				<td>A twin room sharing<br/>
					<span style="font-size:0.875em">2 participants in a double room</span>
				</td>
				<!-- td style="text-align:center;">1,365</td -->
				<td style="text-align:center;">1,065</td>
				<td style="text-align:center;">Price per person</td>
			</tr>
			<tr>
				<td>Double room<br />
					<span style="font-size:0.875em">Including accompanying person not a participant at the conference</span>
				</td>
				<!-- td style="text-align:center;">2,040</td -->
				<td style="text-align:center;">1,565</td>
				<td></td>
			</tr>
		</table>
	</div>
	 
<span style="font-weight:bold;">125 € Special discount for early booking until March 31, 2015</span>


	<p style="padding-top: 20px;">
		<font color="#006699"><span style="font-weight:bold;">The participation fee includes:</span></font>
		<ul>
			<li>Accommodations at the Crowne Plaza hotel in Jerusalem -  5 nights / 6 days</li>
			<li>Half board basis:
				<ul>
					<li>Breakfasts from Monday, June 22  to Friday, June 26, 2015</li>
					<li>Dinners from Sunday, June 21 to Wednesday, June 24, 2015</li>
				</ul>
			</li>	
			<li>Conference package: 
				<ul>
					<li>Attendance at all sessions of the conference</li>
					<li>Conference materials</li>
					<li>Refreshments during conference coffee breaks</li>
					<li>Light lunches from Monday, June 22 to Thursday, June 25, 2015</li>
					<li>Welcome cocktail on Sunday, June 21, 2015</li>
					<li>Gala Dinner on Thursday June 25, 2015</li>
				</ul>
			</li>
			<!-- li style="font-weight:bold; padding-top:15px;">Attention!<br />
				After  March 1, 2015 - Will be add a 200 USD  $  /  155 Euro €</li -->
		</ul>
	</p>
</p>

<p style="margin-top:25px;">
	<span style="font-weight:bold"><font color="#006699">2. Registration fee for participation in conference only:</font></span><br />
	<div style="padding-left:20px;">
		Registration fee for participation in conference only: 615 € (Euro)<br />
		<span style="font-weight:bold;font-size:0.95em;">125 € Special discount for early booking until March 31, 2015</span>
	</div>
	<div style="padding-left:20px; padding-top:10px;">
		Includes full conference package:
		<ul style="padding-left:60px;">
			<li>Attendance at all sessions of the conference</li>
			<li>Conference materials</li>
			<li>Refreshments during conference coffee breaks</li>
			<li>Light lunches from Monday, June 22 to Thursday, June 25, 2015</li>
			<li>Welcome cocktail on Sunday, June 21, 2015</li>
			<li>Gala Dinner on Thursday June 25, 2015</li>
		</ul>
	</div>
</p>

<p style="margin-top:25px;">
	<span style="font-weight:bold"><font color="#006699">3. Prima Park Hotel (4*):</span></font>
	<ul>
		<li>Half board basis - 4 dinners and 5 breakfasts</li>
		<li>Single room - 490 Euro €</li>
		<li>Double room - 280 Euro € (price per person)</li>
		<!-- li style="font-weight:bold; padding-top:15px;">Attention!<br />
			After  March 1,  2015  - Will be add a 155 USD$ / 155 € (Euro)</li -->
	</ul>
</p>

<p style="font-weight:bold; color:DimGray">* Students may submit a request for a reduced registration fee to 
	the organizing committee via E-mail to <a href="mailto:ludwik@gsi.gov.il">ludwik@gsi.gov.il</a> (letter from PhD or MSc supervisor is required) 
</p>

<%= render partial: 'form2' %>