<% provide(:title, 'Registration Form') %>
<h3>Registration Form</h3>
<p style="margin-top:15px;">Welcome to the Isotopes 2015 conference online registration site. Please fill out the form below.
Registration will be considered complete only upon payment (either online by credit card, or by bank 
transfer to Aviation-Links Ltd.).</p>
<%= render partial: 'form' %>