<% provide(:title, 'Registration Fees') %>
<h3>Registration Fees</h3>
<p style="margin-top:15px;">Welcome to the Isotopes 2015 conference online registration site.
	Please fill the registration form below. <br />
<div style="font-size: 0.95em">Please note that registration will be considered complete only upon payment (either online by credit card, or by bank transfer to Aviation-Links Ltd.). Online payment will be available shortly, email will be used to verify a completed registration.</div>
</p>
<h4>Registration fees</h4>

<p>
	<span style="font-weight:bold"><font color="#006699">1. Full fee and accomodation</font></span>
	<table border="1" style="width:100%;">
		<col width="60%">
		<tr>
			<th>Type</th>
			<th>USD$</th>
			<th>Euro €</th>
			<th>Comment</th>
		</tr>
		<tr>
			<td>Single room</td>
			<td>1,600</td>
			<td>1,240</td>
			<td></td>
		</tr>
		<tr>
			<td>A twin room sharing<br/>
				<span style="font-size:0.875em">2 participants in a double room</span>
			</td>
			<td>1,170</td>
			<td>910</td>
			<td>Price per person</td>
		</tr>
		<tr>
			<td>Double room<br />
				<span style="font-size:0.875em">Including accompanying person that not a participant at the conference</span>
			</td>
			<td>1,845</td>
			<td>1,410</td>
			<td></td>
		</tr>
	</table>

	<p>
		<font color="#006699">The participant fee includes:</font>
		<ul>
			<li>Crowne Plaza Jerusalem accommodation (5*) -  5 nights / 6 days</li>
			<li>Half board basis:
				<ul>
					<li>Breakfasts from Monday, June 22  to Friday, June 26, 2015</li>
					<li>Dinners from Sunday, June 21 to Wednesday, June 25, 2015</li>
				</ul>
			</li>	
			<li>The participant fee (Conference package) includes: 
				<ul>
					<li>Attendance at all sessions of the conference</li>
					<li>Conference materials</li>
					<li>Coffee breaks, soft drinks during all the conference time.</li>
					<li>Fruit & cakes every day,  from Monday, June 17 to Thursday, June 20, 2015</li>
					<li>Accommodation:  Crowne Plaza Jerusalem conference center.</li>
					<li>Light lunches  from Monday, June 17 to Thursday, June 20, 2015</li>
					<li>Welcome cocktail on Sunday, June 21, 2015</li>
					<li>Gala Dinner on  Thursday  June 25, 2015</li>
				</ul>
			</li>
			<li style="font-weight:bold">Attention!<br />
				After  Mars  1,  2015  - Will be add  a   200 USA  $  /  155 Euro €</li>
		</ul>
	</p>
</p>

<p style="margin-top:25px;">
	<span style="font-weight:bold"><font color="#006699">2. Registration fee to conference only:</span> 620 USD$ / 505 Euro € <br/>Includes:</font>
	<ul>
		<li>Attendance at all sessions of the conference</li>
		<li>Conference materials</li>
		<li>Coffee breaks, soft drinks during all the conference time.</li>
		<li>Fruit & cakes every day,  from Monday, June 17 to Thursday, June 20, 2015</li>
		<li>Accommodation: Crowne Plaza Jerusalem conference center.</li>
		<li>Light lunches  from Monday, June 17 to Thursday, June 20, 2015</li>
		<li>Welcome cocktail on Sunday, June 21, 2015</li>
		<li>Gala Dinner on  Thursday  June 25, 2015</li>
	</ul>
</p>

<p style="margin-top:25px;">
	<span style="font-weight:bold"><font color="#006699">3. Prima Park Hotel (4*):</span></font>
	<ul>
		<li>Half board basis - 4 dinners and 5 breakfasts</li>
		<li>Single room - 670 USD$ / 490 Euro €</li>
		<li>Double room - 380 USD$ / 280 Euro € <br />(price per person)</li>
		<li style="font-weight:bold">Attention!<br />
			After  Mars  1,  2015  - Will be add  a   100 USD$  /  155 Euro</li>
	</ul>
</p>

<p style="font-weight:bold; color:DimGray">* Students are allowed to submit a request for the reduced registration fee to the organizing committee by
  E-mail: ludwik@gsi.gov.il (letter from PhD or MSc supervisor is required) 
</p>

<% if user_signed_in? %>
	<%= render partial: 'form2' %>
<% end %>