<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Isotopes 2015 Conference</h1>
    <p>
      <%= participant.title %> <%= participant.lastName %> <%= participant.firstName %>, <br />
      You have successfully signed up to Isotopes 2015 conference!<br />
      Here is a summary of your registration:<br />
      <ul>
        <li>TODO: insert list here</li>
      </ul>
    </p>
    <p>We look forward to see you!</p>
  </body>
</html