	@import "bootstrap";

$grayMediumLight: #eaeaea;
/* @media (min-width: 1200px) {
	.container {
		width: 935px;
	}
}*/

/* universal */
html {
	overflow-y: scroll;
	width: 935px;
	margin: 0 auto;
	padding: 2px;
}

body {
	margin: 0 auto;
	font-size: 1.15em;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.container {
	max-width: 935px;
}

.content {
	padding-right: 0;
}

/* side menu */
.sidemenu {
	width: 200px;
	padding: 10px 0;
	/* border: 1px solid $grayMediumLight; */
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  small {
  	float: left;
	}

  ul {
  	float: right;
  	list-style: none;
  	li {
  		float: left;
  		margin-left: 10px;
  	}
  }
}
