<footer class="footer">
  <small>
    &copy 2014 All rights reserved - Gilad Rainer
  </small>
  <nav>
    <ul>
      <!-- li><%= link_to "Home",   root_url %></li -->
      <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Admin Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>

</footer>